/* ----------------------------------------
 * Paleta de colores
 * -> TODO: Insertar documentación para la paleta de colores
---------------------------------------- */
$primary-color: #5e81ac; // Deep Blue (Principal)
$secondary-color: #bf616a; // Nord Red (Secundario)
$other-color: #8fbcbb; // Bright Blue (Mas brillante)

$white-hard: #eceff4; // Nord Snow Storm (Blanco más suave)
$white-background: #e5e9f0; // Nord Snow Storm (Fondo claro)
$white-overlay: #d8dee9; // Nord Snow Storm (Overlay claro)
$black: #2e3440; // Nord Polar Night (Negro profundo)
$black-hard: #3b4252; // Slightly lighter than deep black but retains a strong tone.
$black-overlay: rgba(
  46,
  52,
  64,
  0.75
); // Deep black with 75% opacity for overlay effects.
$blue: $primary-color; // Deep Blue (ahora es el color principal)
$red: $secondary-color; // Bright Blue (ahora es el color secundario)
$gold: $other-color; // Bright Blue (TODO: Bright Blue ahora es el color terciario no es dorado, cambiar nombres en el proyecto)

$filter-primary: invert(34%) sepia(49%) saturate(749%) hue-rotate(169deg)
  brightness(91%) contrast(91%);
$filter-secondary: invert(54%) sepia(98%) saturate(749%) hue-rotate(180deg)
  brightness(91%) contrast(91%);
$filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
  brightness(100%) contrast(100%);
$filter-black: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%)
  contrast(100%);

/* Definir colores por tema */
// Tema claro (School Light)
$light-theme: (
  bg-color: $white-background,
  // Fondo claro (Soft White)
  fg-color: $black,
  // Color de texto (Dark Gray)
  nav-bg-color: $white-hard,
);

// Tema oscuro (School Dark)
$dark-theme: (
  bg-color: #1a202c,
  // Fondo oscuro (Dark Blue-Gray)
  fg-color: #e2e8f0,
  // Color de texto (Light Gray)
  nav-bg-color: #2d3748,
);

$theme: $light-theme;

/* ----------------------------------------
 * Fuentes
---------------------------------------- */
$primary-font: "Inria Sans", sans-serif;
$secondary-font: "Inria Serif", serif;
